<!DOCTYPE html>
<html>
  <%- include('header') -%>  
  <body>
    
    <div class="content">
      <h2><%- artifact_details.name %> </h2>
      <img src="<%- `https://api.genshin.dev/artifacts/${title}/circlet-of-logos` %>">
      <img src="<%- `https://api.genshin.dev/artifacts/${title}/flower-of-life` %>">
      <img src="<%- `https://api.genshin.dev/artifacts/${title}/goblet-of-eonothem` %>">
      <img src="<%- `https://api.genshin.dev/artifacts/${title}/plume-of-death` %>">
      <img src="<%- `https://api.genshin.dev/artifacts/${title}/sands-of-eon` %>">
    </div>

    <script src="" async defer></script>
  </body>
</html>