<!DOCTYPE html>
<html>
  <%- include('header') -%>  
  <body>
    
    <div class="character-det-content">

      <div class="character-details">
        <div class="gacha-card">
          <img src="<%- `https://api.genshin.dev/characters/${title}/gacha-card` %>">
        </div>
        <div class="descriptions">
          <% for (const [key, value] of Object.entries(character_details)) { %>
            <% if (key === 'name') { %>
              <h2><%- value %></h2> 
            <% } %>  
            <% let detail = `${key}: ${value}` %> 
            <% switch (key) { 
              case 'skillTalents': { %> 
                <p class="talent"><strong>Skill Talents</strong></p>
                <ul>
                  <% value.forEach(obj => { %>
                    <li>
                      <p class="talent-skil" style="color: #269450;"><strong><%- obj.unlock %> - <%- obj.name %></strong></p>
                      <p><%- obj.description %></p>
                    </li> 
                    <br>

                  <% }) %> 
                </ul>
                <% break; } %>
              <% case 'passiveTalents': { %> 
                <p class="talent"><strong>Passive Talents</strong></p>
                <ul>
                  <% value.forEach(obj => { %>
                    <li>
                      <p><%- obj.unlock %></p>
                      <p><%- obj.name %></p>
                      <p><%- obj.description %></p>
                    </li> 
                    <br> 
                  <% }) %> 
                </ul>
                <% break; } %>
              <% case 'constellations': { %> 
              <p class="talent"><strong>Constellations</strong></p>
              <ul>
                <% value.forEach(obj => { %> 
                  <li>
                    <p><%- obj.unlock %></p>
                    <p><%- obj.name %></p>
                    <p><%- obj.description %></p>
                  </li>
                  <br> 
                <% }) %> 
              </ul>
              <% break; } 
                case 'vision_key': {  
                  break; } 
                case 'weapon_type': { 
                  break; } 
                default: %> 
                <p><%- detail %></p>
              <% break; %> 
            <% } %> 
            <br>
          <% } %> 
        </div>
      </div>


    </div>

    <script src="" async defer></script>
  </body>
</html>