<!DOCTYPE html>
<html>
  <%- include('header') -%>  
  <body>
    
    <div class="content">
      <img src="<%- `https://api.genshin.dev/characters/${title}/icon` %>">
      <% for (const [key, value] of Object.entries(character_details)) { %>
        <% if (key === 'name') { %>
          <h2><%- value %></h2> 
        <% } %>  
        <% let detail = `${key}: ${value}` %> 
        <% switch (key) { 
          case 'skillTalents': { %> 
            <p><%- key %>: </p>
            <ul>
              <% value.forEach(obj => { %> 
                <li> <%- obj.unlock %> - <%- obj.name %> </li> 
                <li> Description: <%- obj.description %> </li>
                <br>
              <% }) %> 
            </ul>
            <% break; } %>
          <% case 'passiveTalents': { %> 
            <p><%- key %>: </p>
            <ul>
              <% value.forEach(obj => { %> 
                <li><%- obj.name %> </li> 
              <% }) %> 
            </ul>
            <% break; } %>
          <% case 'constellations': { %> 
          <p><%- key %>: </p>
          <ul>
            <% value.forEach(obj => { %> 
              <li><%- obj.name %> </li> 
            <% }) %> 
          </ul>
          <% break; } 
          default: %> 
            <p><%- detail %></p>
          <% break; %> 
        <% } %> 
        <br>
      <% } %> 
    </div>

    <script src="" async defer></script>
  </body>
</html>