<!DOCTYPE html>
<html>
  <%- include('header') -%> 
  <body>

    <div class="content">
      <h2><%- nation_details.name %></h2>
      <p>Element: <%- nation_details.element %></p>
      <p>Archon: <%- nation_details.archon %></p>
      <p>Government: <%- nation_details.controllingEntity %></p>
      <img src="<%- `https://api.genshin.dev/nations/${title}/icon` %> ">
    </div>
    
    <script src="" async defer></script>
  </body>
</html>